body {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: #242424;
}
canvas {
    margin: auto;
}

#controls {
    background-color: #8e8e8e;
    margin: auto;
    text-align: center;;
}

#controls input {
    background-color: #dedede;
}